{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{postagem.titulo}}</title>
    <link rel="shortcut icon" href="imagem-jogador-futebol-Transparente-Download-png (1).ico" type="image/x-icon">
    <style>
            
        body{
            background-image: linear-gradient(to right, #034159, #025951, #02735E, #038C3E, #0CF25D  );
        }
        h1{ 
            
            color: #ccf0ed;
            text-align:left;
            text-shadow: 5px 5px 2px #034159;
        }
        input{
            background-color: #038C3E;
            color: black;
            padding: 12px 20px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
    </style>
</head>
<body>
    <h1>{{postagem.titlo}}</h1>

    <p>{{postagem.titulo}}</p>
    <p>{{ postagem.conteudo }}</p>
    <p>{{postagem.clube_futebol}}</p>
    <br><br><form action="{% url 'update' postagem.id %}"><input type="submit" value="Update" /></form>
    <br><form action="{% url 'home' %}"><input type="submit" value="Back" /></form>

    





    
    
    
</body>
</html>